<!DOCTYPE html>
<html lang="en">
{% load static %}



<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AutoCaptcha</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="style.css">
</head>


<body>
	<br><br><br><br><br><br><br>
	<div class="container">
		<center>
			<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
			<br><br>
			<h1>
				Login
			</h1><br><br>



			<div class="form-group" style="align-items: center">
				<label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="staticEmail" placeholder="email@example.com"
						style="width: 300px; position: relative; right:50px">
				</div>
			</div>
			<div class="form-group" style="align-items: center">
				<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
				<div class="col-sm-3">
					<input type="password" class="form-control" id="inputPassword" placeholder="Password"
						style="width: 300px; position: relative; right:50px">
				</div>
			</div>


			<br><br>
			<div id="mydiv">

			</div>



			<!-- Button trigger modal -->
			<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
				Show Captcha
			</button>
			<br><br>
			<img id="loadingImage" src='{%static "admin/img/9936.png" %}' style="visibility:hidden">

			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Alert !</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							Do you want to solve the Captcha automatically ?
						</div>
						<div class="modal-footer">
							<button type="button" onclick="showImage();" class="btn btn-secondary"
								data-dismiss="modal">No</button>
							<button type="button" onclick="location.href='{% url 'script' %}'"
								class="btn btn-info">Yes</button>
						</div>
					</div>
				</div>
			</div>

			<br><br>
			<div id="show_image"></div>
			<br>
			<input type="text" placeholder="Enter Captcha" value="{{data}}" style="width:200px">

			<br><br>
			<button type="submit" class="btn btn-info">Submit</button>
			<br><br><br>
		</center>
	</div>
</body>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>




<script>
	function showImage() {
		document.getElementById('loadingImage').style.visibility = "visible";
	}
</script>



</html>